{% extends 'brain/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="grid-x grid-margin-x">
    <div class="auto cell"><br></div>
    <div class="cell small-12 medium-5 large-4">
          <h2 style="text-align: center">Login to Newton</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button expanded" type="submit">Login</button>
  </form>
        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
    <div class="cell auto"><br></div>
  </div>







{% endblock %}