{% extends "brain/portal_layout.html" %}
{% load brain_extras %}
{% block title %}Morning Pledges{% endblock title %}
{% block css %}

{% endblock %}
{% block heading %}
{% endblock heading %}
{% block content %}
           <div class="grid-container" style="max-width:95%;font-family: Asap, Helvetica, sans-serif">
    <div class="grid-x grid-margin-x">
     <div class="small-6" style="font-size: 2em; font-family: Asap, Helvetica, sans-serif; color: #2980b9;
     padding: 20px; border: 2px #2980b9 solid;">
         <h2>The Pledge of Allegiance</h2>
<p>I pledge Allegiance to the flag<br>
of the United States of America<br>
and to the Republic for which it stands,<br>
one nation under God, indivisible,<br>
     with Liberty and Justice for all.</p>

 </div>
     <div class="small-6" style="font-size: 2em; font-family: Asap, Helvetica, sans-serif; color: #27ae60;
 padding: 20px; border: 2px #27ae60 solid;">
         <h2>Scholar's Pledge</h2>
         <p>I am a student seeking to be a scholar.<br>
         The standard is excellence today and tomorrow.<br>
                                I am disciplined, focused, and on time.<br>
                                I am organized, respectful and responsible.<br>
             I am on a mission to elevate myself, my community, and humanity.</p>

 </div>



    </div>

{% endblock content %}