{% extends "brain/layout.html" %}

{% block title %}{{ classroom }} IXL List{% endblock title %}
{% block categorybar %}
{% include 'ixl/ixl_lists_category_bar.html' %}
{% endblock %}
{% block heading %}
<h1>Create IXL List</h1>
{% endblock heading %}

{% block content %}
    <div class="grid-x grid-margin-x"><div class="small-3"></div>
    <div class="small-6 align-center">
<form action="" method="post">{% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Save" class="button large expanded success"/>
</form>
    </div><div class="small-3"></div></div>
{% endblock content %}