{% extends "brain/layout.html" %}

{% block title %}{{ classroom }} IXL List{% endblock title %}
{% block categorybar %}
{% include 'ixl/ixl_lists_category_bar.html' %}
{% endblock %}
{% block heading %}
    {% if request.resolver_match.url_name == 'ixl_list_create' %}
<h1>Create IXL List</h1>
    {% elif request.resolver_match.url_name == 'ixl_edit_list' %}
        <h1>Edit IXL List</h1>
    {% endif %}
{% endblock heading %}
{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="small-4 cell"></div>
        <div class="small-4 cell">
<form action="" method="post">{% csrf_token %}
    {{ form.title.label }}
    {{ form.title }}
    {{ form.title.error_messages }}

    {{ form.category.label }}
    {{ form.category }}
    {{ form.category.error_messages }}

    {{ form.description.label }}
    {{ form.description }}
    {{ form.description.error_messages }}
    <input type="submit" value="Save" class="button large expanded success"/>
</form>
        </div>
        <div class="small-4 cell"></div>
    </div>
{% endblock content %}