{% if list.category == "Remediation" %}
    <a href="{% url 'ixl:ixl_view_single_list' list.id %}" class="card-info warning small-12 medium-4 large-3 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      REMED
    </div>
        {% elif list.category == "Enrichment" %}
    <a href="{% url 'ixl:ixl_view_single_list' list.id %}" class="card-info success small-12 medium-4 large-3 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      ENRICH
    </div>
            {% elif list.category == "Unit" %}
    <a href="{% url 'ixl:ixl_view_single_list' list.id %}" class="card-info primary small-12 medium-4 large-3 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      UNIT
    </div>

                {% elif list.category == "Test" %}
    <a href="{% url 'ixl:ixl_view_single_list' list.id %}" class="card-info purple small-12 medium-4 large-3 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      TEST
    </div>

            {% elif list.category == "Other" %}
    <a class="card-info secondary small-12 medium-4 large-3 cell">
  <div class="card-info-label">
    <div class="card-info-label-text">
      OTHER
    </div>
{% endif %}




 </div>
  <div class="card-info-content">
      <h3 style="line-height: 2.3rem; color:#333;">{{ list.title }}</h3>
    <p style="color: #666; font-weight:bold; font-size: 1.2rem;line-height: .6rem;">By {{ list.author }}</p>
  <hr style="padding: 0; margin:0;">
      <p style="color:#444; font-weight: bold; font-size: 1.3rem; font-family: 'Asap', 'Helvetica Neue', Helvetica, Arial, sans-serif">
          Exercises: {{ list.ixllistexercise_set.count }}</p>

  <ul style="list-style: none;">
      {% for exercise in list.ixllistexercise_set.all|slice:"4" %}
      <li>{{ exercise.exercise_id }}</li>
  {% endfor %}
  {% if list.ixllistexercise_set.all.count > 4 %}
      <li><a href="{% url 'ixl:ixl_view_single_list' list.id %}">See more...</a></li>
  {% endif %}
  </ul>



  </div>
</a>
