{% extends "brain/layout.html" %}
{% block title %}IXL Lists{% endblock title %}
{% block categorybar %}
{% include 'ixl/ixl_lists_category_bar.html' %}
{% endblock %}
{% block heading %}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">

<h1>All IXL Lists</h1>
    </div>
    <div class="cell small-12 medium-6">

</div>
    </div>

{% endblock heading %}
{% block content %}

    <h2>Your Lists:</h2>
    <div class="grid-x grid-margin-x">
    {% for list in my_ixl_lists %}
{% include 'ixl/ixl_list_card.html' %}
    {% endfor %}
    </div>
    <hr>
    <h2>Lists From Other Teachers:</h2>
        <div class="grid-x grid-margin-x">
    {% for list in other_ixl_lists %}
{% include 'ixl/ixl_list_card.html' %}

    {% endfor %}
        </div>
{% endblock content %}
