{% extends "brain/layout.html" %}
{% block title %}{{ list.title }} | IXL Lists{% endblock title %}
{% block categorybar %}
{% include 'ixl/ixl_lists_category_bar.html' %}
{% endblock %}
{% block heading %}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
        {% include 'ixl/list_title_header.html' %}

    </div>
    <div class="cell small-12 medium-6">
</div>
    </div>

{% endblock heading %}
{% block content %}
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6">
            {% if list_exercises %}
                <h4>Assigned IXL Exercises</h4>
                <table class="hover">
                    <thead>
                    <tr>
                        <th width="200">Grade</th>
                        <th width="150">Code</th>
                        <th width="200">Category</th>
                        <th width="250">Name</th>
                        <th width="150">Required Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for exercise in list_exercises %}
                        <tr>
                        <td>{{ exercise.list_skill.grade }}</td>
                        <td>{{ exercise.list_skill.id_code }}</td>
                        <td>{{ exercise.list_skill.category }}</td>
                        <td>{{ exercise.list_skill.description }}</td>
                        <td>{{ exercise.required_score }}</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <a class="button large" href="{% url 'ixl:ixl_assign_list_exercises' list.pk %}"><i
                        class="fa fa-pencil"></i> Edit Exercises</a>

            {% else %}
                <a class="button large" href="{% url 'ixl:ixl_assign_list_exercises' list.pk %}"><i
                        class="fa fa-pencil"></i> Assign Exercises</a>
            {% endif %}
        </div>
    </div>

{% endblock content %}
