<div style="margin: auto;display: block; max-width:700px;">

<h1 style="font-family: Helvetica, Arial, sans-serif;color:#2980b9;">Attendance Alerts for Tuesday, November 14</h1>
<hr width="50%"><br>
    <span style="font-family: Helvetica, Arial, sans-serif; font-size: 1.5rem; font-weight:600; color:#34495e">Absent Students</span>
<table style="width:100%;font-family: Helvetica, Arial, sans-serif; text-align:center; border-collapse: collapse;" border="1px solid black" cellpadding="4">
<tbody>
<tr style="background:#34495e; color:#FFF; font-weight:bold; font-size:1.3rem; ">
<td>Student</td>
<td>Teacher</td>
<td>Absences</td>
<td>Tardies</td>
<td>CLY*</td>
</tr>
<tr>
<td>Jeremy Brabham</td>
<td>McPherson</td>
<td>8</td>
<td>30</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Samuel McGill-Lott</td>
<td>Ryan</td>
<td>3</td>
<td>1</td>
<td>Yes</td>
</tr>
</tbody>
</table>


<span style="font-family: Helvetica, Arial, sans-serif; color:#444444; font-size: .8rem; font-weight: bold;">* CLY: Chronic Last Year</span>
<br><br><hr width="50%"><br><br>
<span style="font-family: Helvetica, Arial, sans-serif; font-size: 1.5rem; font-weight:600;color:#34495e">No Attendance Entered</span>
<table style="width:100%;font-family: Helvetica, Arial, sans-serif; text-align:center; border-collapse: collapse;" border="1px solid black" cellpadding="4">
<tbody>
<tr style="background:#34495e; color:#FFF; font-weight:bold; font-size:1.3rem; ">
<td>Student</td>
<td>Teacher</td>
<td>Absences</td>
<td>Tardies</td>
<td>CLY*</td>
</tr>
<tr>
<td>Jeremy Brabham</td>
<td>McPherson</td>
<td>8</td>
<td>30</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Samuel McGill-Lott</td>
<td>Ryan</td>
<td>3</td>
<td>1</td>
<td>Yes</td>
</tr>
</tbody>
</table>
<span style="font-family: Helvetica, Arial, sans-serif; color:#444444; font-size: .8rem; font-weight: bold;">* CLY: Chronic Last Year</span>



<br>

<hr width="50%">
    <br>

    <div style="margin:auto; width:65%; background: #cceeff; padding:0 8px 5px 8px; border-collapse: collapse; border: 1px solid #6c7e87; font-family: Helvetica, Arial, sans-serif; margin-bottom: 10px;">
<p style="text-align: center; color:#515151; font-weight: 900; line-height: 2pt; font-size: 1.2rem">SCHOOL STATS</p>
        <ul style="list-style-type:none; color: #515151;">
            <li>Students Chronically Absent: <span style="font-weight: 900; color: #1b1b1b;">{}</span></li>
        <li>Percentage Chronically Absent: <span style="font-weight: 900; color: #1b1b1b;">{}%</span></li>
    <li>Students with over 9 Tardies: <span style="font-weight: 900; color: #1b1b1b;">{}</span></li>
        <li>Percentage with over 9 Tardies: <span style="font-weight: 900; color: #1b1b1b;">{}%</span></li>

</ul>
</div>

    <img style="width:100px;display:block;margin:auto;" src="http://newtonthinks.com/static/images/btwalogo.jpeg">
    <img style="width:150px;;display:block;margin:auto;" src="http://newtonthinks.com/static/images/newtonlogoemail.png">

</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeOB6wN0HZi280eTX7wk-xY6e7hvedEEj7xvX_5YK8Qn-zP3Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>